<div id="<%= dom_id stuff %>">
  <p>
    <strong>Name:</strong>
    <%= stuff.name %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= stuff.expiry %>
  </p>

  <p>
    <strong>Manufactured:</strong>
    <%= stuff.manufactured %>
  </p>

</div>
